.center-panel
{
    margin: auto;
    width: 250px;
}
.listbox
{
    width: 120px;
}
.button
{
    width: 120px;
}
.file-upload
{
    -moz-opacity:0;
	filter:alpha(opacity: 0);
	opacity: 0;
}
.asdf
{
    
}
