.frontpage-controls
{
    width:320px;
    height:120px;
    position:relative;
    background-color: #A94040;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;

}
.listbox
{
    width: 120px;
}
.button
{
    width: 120px;
}

#browse_button {
    background-color: white;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
}

#compare_button {
    background-color: white;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
}

.combobox-text
{
    width:220px;
    margin:1px auto -1px auto;
    display:block;
    border:solid gray 1px;
    font:inherit;
    top: 40px;
}
.combobox-dropdown
{
    width:220px;
    margin:auto;
    display:none;
    border:solid gray 1px;
    text-align:left;
}
.browse-dialog
{
    padding: 5px 5px 20px 5px;
    background-color:white;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border:solid gray 1px;
    display:none;
    position:absolute;
    left:0px; top:0px;
    width:100%;
    height: 120px;
    text-align:center;
    z-index:2;
}
.controls-table
{
    position:absolute;
    left:0px; top:0px;
    width:100%;
    height:80px;
}
.loaded-list
{
    font-style:italic;
}
.graph
{
    width:500px;
    height:300px;
    display:none;
    border:solid gray 1px;
    position:relative;
}
.graph-line
{
    width:1px;
    position:absolute;
    background-color:black;
}
.graph-antialias
{
    width:1px;
    position:absolute;
    background-color:black;
    -moz-opacity:0.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter:alpha(opacity=30);
	opacity:0.3;
}
.graph-floatybar
{
    background-color:white;
    position:absolute;
    border:solid gray 1px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    display:none;
    -moz-opacity:0.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80);
	opacity:0.8;
}
.graph-trace
{
    background-color:black;
    position:absolute;
    height:5px;
    width:5px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    display:none;
}
.results
{
    width:250px;
    height:200px;
    display:none;
    text-align:left;
}
.invisible-frame
{
    height:26px;
    width:123px;
    position:absolute;
    border-style:none;
    left:0px; top:5px;
	overflow:hidden;
    -moz-opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
}
