.frontpage-controls
{
    margin-top:50px;
}
.centered-panel
{
    margin: auto;
}
.listbox
{
    width: 120px;
}
.button
{
    width: 120px;
}
.browse-dialog
{
    background-color:#FFF;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    behavior:url(border-radius.htc);
    border: solid black 1px;
    -moz-opacity:0.95;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter:alpha(opacity=95);
	opacity: 0.95;
}
.invisible-frame
{
    height:20px;
    border-style:none;
    -moz-opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
}
.asdfas
{
    
}
